<h1>Desafio Terra!</h1>
<h2>Proposta do desafio</h2>
<p>Criar uma api de anticorrupção para expor serviços do github:</p>
<ul>
  <li><a href='https://docs.github.com/pt/rest'>API de REST do GitHub - Documentação do GitHub</a> </li>
</ul>
<p>A partir da documentação, consumir e disponibilizar na camada anti-corrupção os seguintes serviços::</p>
<ul>
  <li>Criação de repositório;</li>
  <li>Listar branchs de um repositório;</li>
  <li>Listar webhooks de um repositório;</li>
  <li>Adicionar webhook a um repositório;</li>
  <li>Atualizar uma webhook de um repositório;</li>
</ul>
<h2>Requisitos</h2>
<p>Obrigatórios</p>
<ul>
  <li>API Rest (funcionando como camada anti-corrupção consumindo API externa);</li>
  <li>Uso do swagger para documentação;</li>
</ul>
<p>Desejáveis</p>
<ul>
  <li>.Net 6</li>
  <li>Testes unitários</li>
  <li>Dependency Injection</li>
  <li>SOLID</li>
</ul>
<h2>Orientações</h2>
<p>Deverá ser enviado o link do repositório no Github com o código para o email b2c.desenvolvimento@terrainvestimentos.com.br assim como as devidas orientações para rodar o projeto.</p>
